@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    color: #445753;
}

body {
    background: #B8BDB5;
    display: flex;
    justify-content: center;
}

div#page-title {
    background-color: #E0E2DB;
    border-radius: 0 0 15px 15px;
    padding: 25px 25px 35px 25px;
    box-shadow: 0 3px 21px 0 rgba(0,0,0,0.26);
}

div#page-title h1, div#page-title h2 {
    text-align: center;
    font-weight: normal;
}

div#page-title h1 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

li {
    background-color: #E0E2DB;
    padding: 25px 35px 28px 35px;
    margin: 30px 25px 30px 25px;
    border-radius: 15px;
    box-shadow: 0 3px 21px 0 rgba(0,0,0,0.26);
}

li h3 {
    text-align: center;
    font-weight: normal;
    font-size: 20pt;
    margin-top: -10px;
    margin-bottom: 15px;
}

li a {
    display: block;
    text-decoration: none;
    margin-top: 10px;
}

iframe {
    width: 560px;
    height: 315px;
    border-radius: 15px;
    box-shadow: 0 3px 21px 0 rgba(0,0,0,0.26);
}