@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    background: #E0E2DB;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

h3, h4 {
    text-align: center;
    font-weight: normal;
}