@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
    font-family: 'Dancing Script', cursive;
    color: #445753;
}

body {
    background-color: #5F7470;
}

header {
    background-color: #D2D4C8;
    border-radius: 0 0 12px 12px;
    padding: 25px 25px 40px 25px;
    box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.26);
    margin-bottom: 70px;
}

footer {
    background-color: #D2D4C8;
    border-radius: 12px 12px 0 0;
    padding: 40px 25px 25px 25px;
    box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.26);
    margin-top: 70px;
}

div#video-list-row {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

div.video-item {
    background-color: #D2D4C8;
    padding: 25px 35px 22px 35px;
    border-radius: 12px;
    box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.26);
}

div.video-item h3 {
    margin-top: -10px;
    margin-bottom: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
}

div.video-item a {
    margin-top: 12px;
    font-family: sans-serif;
    color: #445753;
}

div.video-item a:hover {
    color: #5F7470;
}

div.video-item iframe, div.video-item video {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.26);
}